:root {
  --purple: #61135f;
  --blue: #009fff;
  --bg: #fff;
  --fg: #000;
  --grid:
    "title title" auto
    "control output" 1fr
    / auto 1fr;
  --face: 'Helvetica Neue', 'sans serif';

  --barcolor: var(--purple);
  --barfg: var(--bg);
  --taskbg: #61135f33;
  --unit: 24px;

}

@media all and (max-width: 60em) {
  :root{
    --grid:
      "title" auto
      "control" auto
      "output" auto
      / 1fr;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--face);
}

body {
  font-size: var(--unit);
  font-family: var(--face);
  display: grid;
  grid-template: var(--grid);
  overflow: hidden;
  color: var(--fg);
  background-color: var(--bg);
}

body>* {
  padding: 1rem;
}

main, section {
  grid-area: control;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

main>label {
  padding-top: 1rem;
}

input {
  font-size: 80%;
  width: 10em;
}

body>h1 {
  grid-area: title;
  background-color: var(--purple);
  color: var(--bg);
}

svg {
  grid-area: output;
  background: var(--bg);
  width: 100%;
}

#bar {
  fill: var(--barcolor);
}

.month-marker {
  fill: var(--barfg);
  font-weight: bold;
}

.task>text {
  font-size: 80%;
  dominant-baseline: middle;
}

.key-date {
  fill: var(--purple);
}

.key-date .date {
  font-weight: bold;
}


section {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background: var(--taskbg);
  border-radius: 0.25rem;
  border: grey thin solid;
}
