:root {
  --purple: #61135f;
  --blue: #009fff;
  --bg: #fff;
  --fg: #000;
  --grid:
    "title title" auto
    "control addbuttons" auto
    "output output" 1fr
    / 1fr auto;
  --face: 'Helvetica Neue', 'sans serif';

  --barfg: var(--bg);
  --taskbg: #61135f33;
  --unit: 16px;
  --basecolor: var(--purple);
  --barcolor: var(--basecolor);
}

@media all and (max-width: 60em) {
  :root{
    --grid:
      "title" auto
      "control" auto
      "output" auto
      / 1fr;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--face);
}

body {
  display: grid;
  grid-template: var(--grid);
  color: var(--fg);
  background-color: var(--bg);
  min-height: 100Vh;
}

body>* {
  padding: 1rem;
}

body>header        { grid-area: title; }
main               { grid-area: control; }
nav                { grid-area: addbuttons;}
#timelinecontainer { grid-area: output; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav > button {
  width: 5rem;
  height: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

section {
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

section h2, section h3 {
  min-width: 10rem;
}


section label {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 0.25rem;
  min-width: 10rem;
}

input {
  font-size: 80%;
  width: 8rem;
}

body>header {
  grid-area: title;
  background-color: var(--purple);
  color: var(--bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
}

#timelinecontainer {
  background: var(--bg);
}

svg {
  /* setting the width should disable the automatic sizing bit in JS */
  /* max-width: 100%; */
  font-size: var(--unit);
  font-family: var(--face);
}


#bar {
  fill: var(--barcolor);
}

.month-marker {
  fill: var(--barfg);
  font-weight: bold;
  font-size: 110%;
}

.task>text {
  dominant-baseline: central;
}

.key-date {
  fill: var(--basecolor);
}

.key-date .date {
  font-weight: bold;
}

section {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: var(--taskbg);
  border-radius: 0.25rem;
  border: grey thin solid;
}

heading {
  display: flex;
  flex: 1;
}

heading h3 {
  flex-grow: 1;
}


#controls {
  display: flex;
}

button.big  {
  transition: 0.1s;
  background: var(--blue);
  color: var(--bg);
  font-weight: bold;
  font-size: 100%;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
  padding: 0.25rem 1rem;
}

button.big:hover {
  filter: brightness(110%);
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.75);
}

button.big:focus {
  outline: none;
}

.task, .keydate {
  position: relative;
  margin: 0.5em 0 0 0;
  padding: 0;
}

.task > section,
.keydate > section {
  margin: 0;
}

.task .delete,
.keydate .delete {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  color: black;
  filter: brightness(0%);
}

.task .delete:hover,
.keydate .delete:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}

.task .delete:focus,
.keydate .delete:focus {
  outline: none;
}

#downloadsvg {
  border: grey thin solid;
  background-color: var(--bg);
  color: var(--fg);
  display: block;
  padding: 0.25em;
  border-radius: 0.25em;
}
